#video-grid {
  width: 100%;
  position: relative;


  .video-icon-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19;
    padding: 4px;
    border-radius: 3px;
    gap: 10px;
    bottom: 5px;
    left: 3px;

    .video-icon-div {

      .video-icon {
        height: 20px;
        width: 20px;
      }
    }

  }

  ul{
    display: flex;
    flex-direction: column;

    .video-first{
      position: relative;
    }

    video {
      width: 100%;
    }
  }
}


@media only screen and (max-width: 550px){

  #video-grid {
    width: 100%;

    .video-icon-container{
      position: absolute;
      display: flex;
      flex-direction: row;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 19;
      gap: 5px;
      bottom: 5px;
      left: 3px;
  
      .video-icon-div {
  
        .video-icon {
          height: 16px;
          width: 16px;
        }
      }
  
    }
  
    ul{
      display: flex;
      flex-direction: row;
      padding: 5px 5px;

      video {
        width: 140px;
        max-width: 140px;
      }
    }
   
  }
}