.not-found-container {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.not-found {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .not-found-icon {
        height: 140px;
        width: fit-content;
        padding: 10px;

        svg {
            height: 100%;
            fill: $blue-light;
        }
    }

    p {
        font-weight: 500;
        padding: 5px;
    }

    p:first-of-type {
        font-size: 50px;
        color: $orange-dark;
    }

    p:last-of-type {
        font-size: 30px;
        color: $blue-light;
    }
}