.session {
    width: 100%;
    min-height: 100vh;
    background-color: $blue-darkest;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    * {
        color: #fff;
        font-family: $sans-serif-IBM;
        font-weight: 400;
    }
}

.session-form {
    width: 240px;
    position: relative;
    top: 250px;

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    input {
        font-size: 14px;
        width: 100%;
        padding: 8px;
        margin-bottom: 8px;
        background-color: rgb(28, 35, 51);
        border: 1px solid rgb(78, 85, 105);
        cursor: default;

        &:hover {
            border-color: $blue-light;
            box-shadow: 0 0 5px $blue-light;
        }

        &:focus {
            border-color: $blue-lightest;
            box-shadow: 0 0 5px $blue-light;
        }        
    }

    .session-form-submit {
        text-align: center;
        color: rgb(218, 218, 218);
        background-color: $blue-light;
        transition: .4s;
        border: none;
        cursor: pointer;

        &.demo-login {
            color: #fff;
            background-color: $blue-lightest;
        }
    }

    .bright {
        color: #fff;
        background-color: $blue-lightest;
    }

    .session-form-errors {
        font-size: 12px;
        font-weight: 400;
        line-height: 2em;
    }
}

@media all and (min-width: 1600px) {
    .session-form {
        transform: scale(2);
    }
}