.page-with-sidebar{
    display: flex;
    flex-direction: row;   
}

.sidebar-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    min-height: calc(100vh - 72px);
    position: relative;
    z-index: 25;

    .sidebar-section-div{
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: calc(100vh - 72px);
        top: 72px;
        transition: all 0.3s ease-in-out;

        .sidebar-section{
            background-color: $blue-darkest;
            width: 100px;
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            transition: all 0.3s ease-in-out;
    
            .sidebar-button{
                height: 70px;
                width: 70px;
                box-sizing: border-box;
                border: 1px solid transparent;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease-in;  
                z-index: 6 !important;

                svg{
                    height: 30px;
                    width: 30px;
                    fill: white;
                    transition: all 0.3s ease-in; 
                }
            }
    
            .sidebar-menu{
                display: flex;
                flex-direction: column;
                height: calc(100vh - 72px);
                position: absolute;
                background-color: $blue-darkest;
                border-right: 1px solid $orange-light;
                border-left: 30px solid transparent;
                padding: 0 10px;
                padding-right: 0;
                width: 240px;
                min-width: 160px;
                z-index: -1 !important;
                left: calc(50%);
                top: 0;
                opacity: 0;
                overflow-y: scroll;
                pointer-events: none;
                transition: all 0.2s ease-in;  
    
                .sidebar-list-item {
                    cursor: pointer;
                    color: white;
                    padding: 12px 16px;
                    margin: 5px 0;
                    text-decoration: none;
                    display: block;
                    text-align: left;  
                    border-left: 1px solid transparent;
                    box-shadow: inset 0px 0px 0px $orange-light;  
                    box-sizing: border-box;
                    transition: all 0.2s ease-in;   

                    &:hover {
                        cursor: pointer;
                    }

                    a:hover {
                        cursor: pointer;
                    }


                }
            }

            .sidebar-section:hover {

                .sidebar-button{
                    transform: translate(2px, -2px);
                    border: 1px solid $orange-light;
                    box-shadow: -2px 2px 5px $orange-light;  
                    
                    svg{
                        fill: $orange-light;                    
                    }
                }
                .sidebar-menu{
                    opacity: 1;
                    z-index: 3 !important;
                    left: calc(80%);
                    pointer-events: all;

                }
            }
            .sidebar-button:hover{
                transform: translate(2px, -2px);
                border: 1px solid $orange-light;
                box-shadow: -2px 2px 5px $orange-light;  
                
                svg{
                    fill: $orange-light;                    
                }

            }
            
            .sidebar-button:focus{
                transform: translate(2px, -2px);
                border: 1px solid $orange-light;
                box-shadow: -2px 2px 5px $orange-light;  
                
                svg{
                    fill: $orange-light;                    
                }

            }

            .sidebar-button:hover + .sidebar-menu{
                opacity: 1;
                z-index: 3 !important;
                left: calc(80%);
                pointer-events: all;

                .problem-search {
                    background: white;
                    border-radius: 2px;
                    width: 85%;
                    margin: 10px;

                    // font-size: 14px;
                    // width: 100%;
                    // padding: 8px;
                    // margin-bottom: 8px;
                    
                    input {
                        // padding: 3px 10px;
                        // color: black;
                        padding: 6px;
                        color: #fff;
                        width: 100%;
                        font-size: 14px;
                        
                        background-color: rgb(28, 35, 51);
                        border: 1px solid rgb(78, 85, 105);

                        &:hover {
                            border-color: $blue-light;
                            box-shadow: 0 0 5px $blue-light;
                        }

                        &:focus {
                            border-color: $blue-lightest;
                            box-shadow: 0 0 5px $blue-light;
                        }
                    }
                }

            }

            .sidebar-menu:hover {
                opacity: 1;
                z-index: 3 !important;
                left: calc(80%);
                pointer-events: all;
                top: 0;

                .problem-search {
                    cursor: pointer;
                    background: white;
                    border-radius: 2px;
                    width: 85%;
                    margin: 10px;
                        
                    input {
                        // padding: 3px 10px;
                        // color: black;
                        color: #fff;
                        padding: 6px;
                        width: 100%;
                        font-size: 14px;
                        
                        background-color: rgb(28, 35, 51);
                        border: 1px solid rgb(78, 85, 105);

                        &:hover {
                            border-color: $blue-light;
                            box-shadow: 0 0 5px $blue-light;
                        }

                        &:focus {
                            border-color: $blue-lightest;
                            box-shadow: 0 0 5px $blue-light;
                        }
                    }
                }

            }

            .sidebar-list-item:hover{
                box-shadow: inset 7px 0 9px -4px $orange-light; 
            }
        }
    }
  
}

.side-glow{
    background-color: $blue-darkest;
    box-shadow: $orange-light 5px 0px 6px -5px;
    transition: all 0.5s ease-in;
}

.sidebar-menu::-webkit-scrollbar {
width: 0.25em;
}
   
.sidebar-menu::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px transparent;
}
   
.sidebar-menu::-webkit-scrollbar-thumb {
border-radius: 3px;
background-color: $orange-light;
box-shadow: -7px 0 9px -5px $orange-light;
}

@media only screen and (max-width: 550px) {
    .sidebar-container{

    
        .sidebar-section-div{
            position: sticky;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-height: calc(100vh - 72px);
            top: 72px;

            .sidebar-section{
                background-color: $blue-darkest;
                width: 0;
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .sidebar-container{

    
        .sidebar-section-div{
            position: sticky;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            min-height: calc(100vh - 72px);
            top: 72px;
        }
    }
}