.group-show {
    background-color: $blue-darkest;
    height: 100vh;
    min-width: 700px;

    li {
        text-transform: capitalize;
    }
}

.group-show-bar {
    border: 1px solid red;
    display: flex;
    align-items: flex-start;

    .invite-button {
        position: relative;

        button:hover {
            color: $orange-dark;
        }
    }

    .group-show-bar-participants, .group-show-bar-invited {
        display: flex;
        flex-direction: column;
    }
}

.group-show-main {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;

    .group-show-main-problem {
        display: flex;
        flex-direction: column;
        padding: 10px;

        h1 {
            font-size: 22px;
            font-weight: 500;
        }

        p {
            font-size: 18px;
        }
    }
}


.editor-container {
    // padding: 30px;
    // height: 400px;

    .editor {
        // height: 80vh;
        // width: 100%;
        background-color: red;
    }
}


.user-search {
    height: 300px;
    min-width: 200px;
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 30;
    padding: 10px 16px 10px 10px;
    background-color: $blue-darkest;
    overflow-y: scroll;

    // &::-webkit-scrollbar {
    //     display: none;
    // }

    .user-search-dropdown {

        .user-search-dropdown-item {
            text-transform: capitalize;
            padding: 3px 0;

            &:hover {
                color: $orange-dark;
                cursor: pointer;
            }
        }
    }
}