.group-show-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
        margin: 10px;
        font-size: 30px;
        text-shadow: 0 0 10px $blue-light;
    }

    .group-show-date {
        margin: 0px 10px;
        font-size: 13px;
        font-style: italic;
    }
}

.group-show {
    background-color: $blue-darkest;
    height: calc(100vh - 112px);
    width: 100%;
    display: flex;

    justify-content: stretch;
    // gap: auto;

}

.group-bar-main{
    display: flex;
    width: 100%;
    gap:10px;
    

    .group-show-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        width: 25%;
        max-width: 400px;
        min-width: 200px;
    
        .group-show-main-problem {
            display: flex;
            flex-direction: column;
            padding: 14px 10px 10px 10px;
            margin-bottom: 40px;
            transition: all 0.3s ease-in;
    
            .group-show-main-problem-title {
                font-size: 22px;
                // font-weight: 400;
                margin-bottom: 10px;
                text-shadow: 0 0 10px $blue-light;
                transition: all 0.3s ease-in;
            }
    
            p {
                font-size: 16px;
            }
        }
    
        .group-show-bar-participants, .group-show-bar-invited {
            display: flex;
            flex-direction: column;
            padding: 10px;
    
            h1 {
                font-size: 20px;
            }
    
            ul {
                height: 200px;
                width: 150px;
                overflow-y: scroll;
    
                li {
                    font-size: 16px;
                }
            }
        }
    }
    
    .group-show-main {
        height: 100%;
        width: 75%;
        flex-grow: 1;
        flex-shrink: 1;
        transition: width 0.3s ease-in;
    
        .editor-container {
            height: 92%;
            transition: height 0.3s ease-in;
            margin-left: 10px;
            
            .editor {
                border: 1px solid $orange-light;
                border-radius: 4px;
                overflow: hidden;
            }
        } 
    }
}

.group-show-bar .group-show-bar-participants h1 {
    margin-left: 0;
}

.group-show-bar-participants ul li {
    text-transform: capitalize;
}

.group-show-main {
    height: 100%;
    width: 70%;
    max-width: 2200px;

    .editor-container {
        height: 92%;
        
    } 

}

.group-show-cams{
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    padding-left: 10px;
    margin-right: 10px;

    .invite-button {
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        font-size: 14px;
        z-index: 20 !important;

        button{
            position: relative;
            border: 1px solid $orange-light;
            padding: 10px 20px;
            border-radius: 4px;
            transition: all 0.2s ease-in;
            // background-color: orange;
            z-index: 20 !important;
        }

        button:hover {
            color: $orange-light;
            // box-shadow: ;
        }

        .invite-search {
            
            input {
                // background: white;
                // padding: 10px;
                // color: black;
                // margin: 6px 8px;
                // height: 1.5em;
                margin: 8px;
                width: 90%;
                border-radius: 2px;

                padding: 6px;
                color: #fff;
                font-size: 14px;
                
                background-color: rgb(28, 35, 51);
                border: 1px solid rgb(78, 85, 105);

                &:hover {
                    border-color: $blue-light;
                    box-shadow: 0 0 5px $blue-light;
                }

                &:focus {
                    border-color: $blue-lightest;
                    box-shadow: 0 0 5px $blue-light;
                }
            }
        }

        .collaborator-message {
            font-size: 12px;
            text-align: center;
            margin-bottom: 4px;
            font-style: italic;
            color: rgb(236, 204, 162);
            letter-spacing: .6px;
            position: sticky;
            left: 7px;
        }
    }

    .cams{
        height: 90%;
        max-height: 1015px;
        overflow-y: scroll;
        overflow-x: hidden;
        // z-index: 0;
    }
}

.save-btn-div {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px;

    .group-save-btn {
        border-radius: 4px;
        padding: 10px 20px;
        transition: all 0.2s ease-in;
    }
    .save-btn {
        border: 1px solid #20a542;
    }

    .leave-btn {
        border: 1px solid $orange-light;
    }
    .save-btn:hover {
        transform: translate(2px, -2px);
        border: 1px solid #20a542;
        box-shadow: -2px 2px 5px #20a542, inset 0px 0 9px 0px #20a542; 
    }
    .leave-btn:hover {
        transform: translate(2px, -2px);
        border: 1px solid $orange-light;
        box-shadow: -2px 2px 5px $orange-light, inset 0px 0 9px 0px $orange-light;
    }

}

.user-search {
    max-height: 300px;
    min-width: 100px;
    width: 90%;
    position: absolute;
    // top: 100%;
    left: 5%;
    z-index: 0 !important;
    padding: 10px 16px 10px 5px;
    background-color: $blue-darkest;
    border: 1px solid $orange-light;
    border-radius: 2px;
    overflow-y: scroll;

    

    .user-search-dropdown {
        z-index: 0 !important;
        .user-search-dropdown-item {
            padding: 3px 0;
            overflow-x: hidden;

            &:hover {
                color: $orange-dark;
                cursor: pointer;
            }
        }
    }

    li {
        width: 200px;
    }
}

.user-search::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}
   
.user-search::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
}
   
.user-search::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $orange-light;
    box-shadow: -7px 0 9px -5px $orange-light;
}

.user-search::-webkit-scrollbar-corner {
    background-color: $blue-darkest;
}

.participants-list::-webkit-scrollbar {
    width: 0.25em;
}
   
.participants-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
}
   
.participants-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $orange-light;
    box-shadow: -7px 0 9px -5px $orange-light;
}

.cams::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}
   
.cams::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
}
   
.cams::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $orange-light;
    box-shadow: -7px 0 9px -5px $orange-light;
}

.cams::-webkit-scrollbar-corner {
    background-color: $blue-darkest;
}



@media only screen and (max-width: 1080px) {


    .group-bar-main{
        flex-direction: column;
        width: 90%;
        flex-shrink: 1;
        flex-grow: 1;
        justify-content: space-between;
        // height: 95vh;
        
        .group-show-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            min-width: 100%;
            height:150px;
            // flex-shrink: 1;
            // flex-grow: 1;


            .group-show-main-problem{
                min-width: 300px;
                margin-right: 20px;
            }
        }

        .group-show-main{
            width: 95%;
            margin-top: 10%;
            // display: flex;
            // align-items: flex-start;
            // flex-shrink: 1;
            // flex-grow: 1;

            .editor-container{
                display: flex;
                flex-direction: column-reverse;

                .editor {
                    border: 1px solid $orange-light;
                    border-radius: 4px;
                    overflow: hidden;
                }
            }

            .editor-container section {
                height: 90% !important;
                // border: 1px solid $orange-light;
            }
        }
    }
    .group-show-cams{
        width: 25%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media only screen and (max-width: 700px) {
    .group-bar-main{
        width: 80%;
        .group-show-bar{

            height:110px;
            .group-show-main-problem-title{
                display: none;
            }

            .group-show-bar-participants{
                display: none;
            }
        }

        .group-show-main{
            margin-top: 5%;
        }
    }
   
}

@media only screen and (max-width: 550px) {
    .group-show {
        background-color: $blue-darkest;
        height: calc(100vh - 112px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        // margin: 0 10px;
        // gap: auto;
    
    }


    .group-bar-main {
        width: 100%;

        .group-show-bar {
            height:110px;

            .group-show-main-problem {
                min-width: 300px;
                margin-right: 20px;
                margin-bottom: 20px;

                .group-show-main-problem-title {
                    display: none;
                }
    
                .group-show-bar-participants {
                    display: none;
                }
            }
           
        }

        .group-show-main{
            margin-top: 5%;
        }
    }
    .group-show-cams{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        max-width: 550px;
        min-width: 100px;
        padding-left: 10px;
        margin-bottom: 10px;
        height: 150px;
    
        .invite-button {
            width: 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            margin:0 5px;
            font-size: 14px;
            z-index: 20 !important;
    
            button {
                position: relative;
                border: 1px solid $orange-light;
                width: 50px;
                overflow-x: hidden;
                padding: 10px 10px;
                border-radius: 4px;
                transition: all 0.2s ease-in;
                // background-color: orange;
                z-index: 20 !important;
            }
    
            button:hover {
                color: $orange-light;
                // box-shadow: ;
            }
    
            .invite-search {
                
                input {
                    // background: white;
                    padding: 10px;
                    // color: black;
                    margin: 6px 0px;
                    width: 100%;
                    height: 1.5em;
                    border-radius: 2px;
                }
            }
    
            .collaborator-message {
                font-size: 12px;
                text-align: center;
                margin-bottom: 4px;
                font-style: italic;
                color: rgb(236, 204, 162);
                letter-spacing: .6px;
                position: sticky;
                left: 7px;
            }
        }
    
        .cams{
            width: 100%;
            // max-height: 1015px;
            height: 130px;
            overflow-x: scroll;
            overflow-y: hidden;

            // z-index: 0;
        }
    }
   
}
  