.footer-section {
    // bottom: 0;
    width: 100%;
    padding: 30px 6% 20px;
    padding-top: 40px;
    margin: 0px auto;
    box-shadow: inset $blue-light 0px 4px 6px -5px, $blue-light 0px 2px 6px -5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    // position: absolute;
    // height: 300px;

    .footer-summary {
        width: 60%;
        margin: 20px 0;
        transition: all 0.3s ease-in-out;

        p {
            font-size: 18px;
            text-align: center;
            line-height: 1.4em;
            letter-spacing: .03em;
            text-shadow: 0 0 16px $blue-lightest;
            transition: all 0.3s ease-in-out;
        }
    }

    h4 {
        font-size: 14px;
        color: rgb(174, 174, 174);
        margin-top: 20px;
    }
}

.footer-authors-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;

    .footer-authors {
        display: flex;
        width: fit-content;
        gap: 16px;

        .footer-portraits {
            border-radius: 3px;
            height: 80px;
            width: 80px;
            overflow: hidden;
            position: relative;
            border: 1px solid $blue-light;
            box-shadow: 0 0 5px $blue-light;
            transition: all 0.3s ease-in-out;

            img {
                width: 120%;
                height: auto;
                object-fit: cover;
                position: absolute;
                left: -8px;
            }
        }
    }  
}

.footer-authors-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
        font-weight: 500;
    }

    .footer-authors-info-link {
        display: flex;
        align-items: center;
        width: fit-content;

        .footer-icons {
            height: 20px;
            margin-right: 10px;

            svg {
                fill: $blue-lightest;
                height: 100%;
            }
        }

        a:hover {
            color: $orange-dark;
        }
    }
}

@media all and (max-width: 1000px) {
    .footer-authors-info {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .footer-authors-info {
        display: none;
    }

    .footer-authors-container {
        .footer-authors {

            .footer-portraits{
                height: 60px;
                width: 60px;
            }
        }
    }
    .footer-section {
        .footer-summary{
            width: 76%;
            p{
                font-size: 16px;
            }
            
        }
    }
}

@media all and (max-width: 300px) {
    .footer-authors-info {
        display: none;
    }

    .footer-authors-container {
        .footer-authors {

            .footer-portraits{
                height: 60px;
                width: 60px;
                display: none;
            }
        }
    }

    .footer-section {
        .footer-summary{
            width: 90%;
            p{
                font-size: 14px;
            }
            
        }
    }
}