.navbar-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-darkest;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    font: $sans-serif-IBM;
    z-index: 30;
}

.logo {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px $blue-lightest;
    margin-left: 30px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-link-div {
    margin-right: 20px;
    margin-top: 10px;
    display: flex;

    .nav-link {
        color: white;
        background-color: $blue-light;
        border-radius: 3px;
        padding: 10px 20px;
        margin-right: 10px;
        height: 100%;
    }

    .nav-link:hover {
        background-color: $blue-lightest;
    }
    .nav-link-profile-drop {
        position: relative;
        background-color: $blue-darkest;
        display: flex;
        justify-content: center;
        width: 80px;
        margin: 0 10px;
        transition: all 0.2s ease-in;

        .nav-link-profile-img-div {
            // background-color: $blue-light;
            box-sizing: border-box;
            border: 2px solid transparent;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease-in;

            svg {
                height: 40px;
                width: 40px;
                fill: white;
                transition: all 0.2s ease-in;
            }
        }
        
        
        .nav-dropdown-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: $blue-darkest;
            border-top: 5px solid transparent;
            border-bottom: 1px solid $blue-lightest;    
            min-width: 160px;
            min-height: 132px;
            border-radius: 3px;
            z-index: -1;
            top: calc(50%);
            right: 0px;     
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease;

            .nav-drop-link {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;   
                transition: all 0.2s ease-in;             
            }
            .nav-drop-name {
                color: rgb(211, 211, 211);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;      
                text-transform: capitalize;        
            }
        }        
    }

    .nav-link-profile-drop-visible {
        position: relative;
        background-color: $blue-darkest;
        display: none;
        justify-content: center;
        width: 80px;
        margin: 0 10px;
        transition: all 0.2s ease-in;

        .nav-link-profile-img-div {
            // background-color: $blue-light;
            box-sizing: border-box;
            border: 2px solid transparent;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease-in;

            svg {
                height: 40px;
                width: 40px;
                fill: white;
                transition: all 0.2s ease-in;
            }
        }
        
        
        .nav-dropdown-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: $blue-darkest;
            border-top: 5px solid transparent;
            border-bottom: 1px solid $blue-lightest;    
            min-width: 160px;
            min-height: 132px;
            border-radius: 3px;
            z-index: -1;
            top: calc(50%);
            right: 0px;     
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease;

            .nav-drop-link {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;   
                transition: all 0.2s ease-in;             
            }
        }        
    }
    
    .nav-link-profile-drop:hover {
       
        .nav-dropdown-content {
            opacity: 1;
            z-index: 3 !important;
            top: calc(100%);
            pointer-events: all;
            // top: 0;
        }

        .nav-link-profile-img-div {
            border: 2px solid $blue-lightest;

            svg {
                height: 40px;
                width: 40px;
                fill: $blue-lightest;
            }
        }
    }
    .nav-link-profile-drop-visible:hover {
       
        .nav-dropdown-content {
            opacity: 1;
            z-index: 3 !important;
            top: calc(100%);
            pointer-events: all;
        }

        .nav-link-profile-img-div {
            border: 2px solid $blue-lightest;

            svg {
                height: 40px;
                width: 40px;
                fill: $blue-lightest;
            }
        }
    }
}

.glow {
    background-color: $blue-darkest;
    box-shadow: $blue-light 0px 4px 6px -5px;
    transition: all 0.5s ease-in;
}

.appear {
    display: flex;
    flex-direction: column;
}

.nav-drop-link:hover {
    text-shadow: 0 0 5px $blue-lightest;
    box-shadow: inset 0px 0 9px -2px $blue-light; 
}


@media only screen and (max-width: 600px) {
    .logo {
        font-size: 40px;
        color: white;
        text-shadow: 0 0 13px $blue-lightest;
        margin-left: 30px;
        margin-top: 15px;
    }

    .nav-link-div{

        .nav-link-profile-drop-visible{
            display: flex;
        }
        .nav-link-profile-drop-visible:hover {

            
            .nav-dropdown-content {
                opacity: 1;
                z-index: 3 !important;
                top: calc(100%);
                pointer-events: all;
            }
    
            .nav-link-profile-img-div {
                border: 2px solid $blue-lightest;
    
                svg {
                    height: 40px;
                    width: 40px;
                    fill: $blue-lightest;
                }
            }
        }
    
    }
    
    .nav-link{
        display:none;
    }
}