.navbar-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-darkest;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    font: $sans-serif-IBM;
    z-index: 1;
}

.logo{
    font-size: 50px;
    color: white;
    text-shadow: 0 0 5px $blue-lightest;
    margin-left: 30px;
    margin-top: 5px;
}

.nav-link-div{
    margin-right: 30px;
    margin-top: 10px;
    display: flex;

    .nav-link{
        color: white;
        background-color: $blue-light;
        border-radius: 3px;
        padding: 10px 20px;
        margin-right: 10px;
        height: 100%;
    }

    .nav-link:hover{
        background-color: $blue-lightest;
    }
    .nav-link-profile-drop{
        position: relative;
        background-color: $blue-darkest;
        // padding: 20px;

        .nav-link-profile-img-div{
            // background-color: $blue-light;
            box-sizing: border-box;
            // border: 2px solid $blue-light;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                height: 40px;
                width: 40px;
                fill: white;
            }
        }
        
        
        .nav-dropdown-content{
            display: none;
            position: absolute;
            background-color: $blue-darkest;
            background-clip: content-box;
            min-width: 160px;
            border-radius: 3px;
            z-index: 1;
            right: 0px;
            top: calc(100%);
            border-top: 5px solid transparent;
            box-shadow: $blue-light 0px 4px 6px -5px, $blue-light 0px 2px 6px -5px;            
            
            .nav-drop-link{
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;                
            }
        }        
    }
    
    .nav-link-profile-drop:hover {
       
        .nav-dropdown-content{
            display: flex;
            flex-direction: column;
        }
        .nav-link-profile-img-div{
            border:2px solid ;

            svg{
                height: 40px;
                width: 40px;
                fill: $blue-lightest;
            }
        }
    }
}

.glow{
    background-color: $blue-darkest;
    box-shadow: $blue-light 0px 4px 6px -5px;
    transition: all 0.3s ease-in;
}

.appear{
    display: flex;
    flex-direction: column;
}

.nav-drop-link:hover{
    background-color: $blue-light;
    text-shadow: 0 0 5px $blue-lightest;
}
