.notification-badge {
    height: 50px;
    width: 82px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $blue-darkest;
    transition: all 0.2s ease-in;
   
    svg {
        margin: 5px;
        height: 35px;
        width: 35px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all 0.2s ease-in;
    }

    

}

.notification-dropdown { 
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $blue-darkest;
    background-clip: content-box;
    min-width: 160px;
    border-radius: 3px;
    z-index: -1;
    right: 0px;
    top: calc(100%);
    border-top: 5px solid transparent;
    box-shadow: $blue-light 0px 4px 6px -5px, $blue-light 0px 2px 6px -5px;            
    transform: scaleY(0.5) translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transition: all 0.3s ease-in;
}

.notification-badge:hover {
    .notification-dropdown {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transform: scaleY(1) translateY(0px);
    }

    .notification-img {
        border: 2px solid $blue-lightest;

        svg {
            margin: 5px;
            height: 35px;
            width: 35px;
            fill: $blue-lightest;
        }
    }


}

