.notification-badge {
    position: relative;
    background-color: $blue-darkest;
    display: flex;
    justify-content: center;
    width: 50px;
    margin: 0 10px;
    transition: all 0.2s ease;

    .notification-img{
        box-sizing: border-box;
        border: 2px solid transparent;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;

        svg {
            height: 35px;
            width: 35px;
            margin: 5px;
            fill: white;
            transition: all 0.2s ease;
        }
    }
    .color {
        svg {
            fill: $orange-dark;
            transition: all .2s ease;
        }
    }
}

.notification-dropdown { 
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $blue-darkest;
    border-top: 5px solid transparent;
    border-bottom: 1px solid $blue-lightest;    
    min-width: 160px;
    // min-height: 132px;
    border-radius: 3px;
    z-index: -1;
    top: calc(50%);
    right: 0px;     
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.notification-badge:hover {

    .notification-dropdown {
        opacity: 1;
        z-index: 3 !important;
        top: calc(100%);
        pointer-events: all;
    }

    .notification-img {
        border-color: $blue-lightest;

        svg {
            margin: 5px;
            height: 35px;
            width: 35px;
            fill: $blue-lightest;
        }
    }
}

.notification-dropdown {
    p {
            text-align: center;
            margin-bottom: 4px;
            font-size: 14px;
    }

    .no-notifications-message {
        padding: 10px;
        font-size: 13px;

        p {
            margin: 3px;
            letter-spacing: 1.5px;
            line-height: 1.6;
        }
    }

    .notification-list {
        display: flex;
        justify-content: space-between;
        width: 300px;
        font-size: 14px;
        padding: 10px;

        .group-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 4px;
        }

        .buttons {
            display: flex;

            .button-styling {
                margin: 4px;
                border: 0.5px solid $blue-light;
                border-radius: 3px;
                padding: 4px;
                font-size: 12px;
                transition: all 0.3s ease;
            }

            .button-styling:first-child:hover {
                border: 0.5px solid #20a542;
            }

            .button-styling:last-child:hover {
                border: 0.5px solid $orange-light;
            }
        }

        .button-styling:hover {
            margin: 4px;
            border: 0.5px solid $blue-lightest;
            border-radius: 3px;
            padding: 4px;
            font-size: 12px;
            background-color: $blue-darkest;
            box-shadow: $blue-light 0px 4px 6px -5px;
            transition: all 0.3s ease;
            font-stretch: semi-expanded;
        }
    }
}