
.splash-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue-darkest;
    // font-family: $sans-serif-IBM;
}


* {
    color: #fff;
    font-family: $sans-serif-IBM;
    font-weight: 400;
}

.splash-main{
    background-image: url("../../../assets/images/main_splash.png");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 0% 60%;
    background-position: top center;
    // background-size: 100% 120%;
    min-width: 100%;
    background-color: $blue-darkest;
    box-shadow: $blue-lightest 0px 4px 6px -5px;
    padding-top: 40px;
    position: relative;

    .splash-main-info-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 300px 0;

        .splash-main-header{
            color: white;
            padding: 15px 0;
            font-weight: 700;
            font-size: 60px;
            text-shadow: 0 0 10px $blue-light;
        }

        .splash-main-subtitle{
            font-size: 20px;
            color: white;
            padding: 5px 0;
            margin-bottom: 10px;
        }
    }
}

.splash-summary{
    display:flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;
    padding: 50px 0;

    .splash-summary-item{
        width: 35%;
        // min-height: 170px;
        height: 170px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        padding: 30px 0;
        margin: 20px;
        box-shadow: $blue-light 0px 4px 6px -5px, $blue-light 0px 2px 6px -5px;

        .splash-summary-item-header{
            color: rgb(240, 240, 233);
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 10px;
        }

        .splash-summary-item-subtitle{
            font-size: 18px;
            margin-top: 5px;
            color: $blue-lightest;
            font-weight: 600;
            text-align: center;
        }
    }
}

.splash-signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 30px;

    .splash-signup-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;

        h2{
            color: white;
            font-size: 35px;
            font-weight: 700;
            padding-bottom: 15px;
            text-shadow: 0 0 10px $blue-lightest;
        }
    }
}

.splash-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 60px;

    .splash-features-item{
        display: grid;
        grid-template-columns: 50% 50%;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // padding: 60px 0;
        // width: 100%;

        .splash-features-item-img-div{
            // width: 400px;
            // height: 400px;
            background-color: $blue-lightest;
        }

        .right {
            margin-left: 60px;
        }

        .left {
            margin-right: 60px;
        }

        .splash-features-item-description{
            display:flex;
            flex-direction: column;
            justify-content: center;

            h2{
                color: white;
                font-size: 35px;
                font-weight: 700;
                padding-bottom: 10px;
                text-shadow: 0 0 10px $blue-light;
                text-align: center;
            }

            h4{
                font-size: 18px;
                color: white;
                padding: 5px 0;
                margin-bottom: 5px;
                line-height: 1.4em;
                text-align: center;
            }
        }
    }
}


.splash-code-btn{
    background-color: $blue-lightest;
    color: white;
    padding: 15px 30px;
    border-radius: 3px;
    font-weight: 600;
}

.splash-code-btn:hover{
    background-color: #4f89cc;
    text-shadow: 0 0 5px $blue-lightest;
    transition: all 0.05s ease-in;
}