.video-container {
    
}

video {
    width: 400px;
    height: 300px;
    object-fit: cover;
    z-index: 100;
    filter: hue-rotate(180deg) saturate(200%);
}

input {
    background-color: white;
    color: black;
}