// .container{
//     width: 100%;   
// }

#root {
    background-color: $blue-darkest;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.main-content{
    padding-bottom: 200px;
}