// .container{
//     width: 100%;   
// }

#root {
    background-color: $blue-darkest;
    // overflow-x: hidden;
}

.page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    // overflow-x: hidden;
    background-color: $blue-darkest;
}

.main-content{
    flex: 1 0 auto;
}


.page-container::-webkit-scrollbar {
    width: 0.25em;
}
   
.page-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
}
   
.page-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: blue;
    box-shadow: -7px 0 9px -5px $orange-light;
}