// .container{
//     width: 100%;   
// }

#root {
    background-color: $blue-darkest;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.main-content{
    padding-bottom: 300px;
}


.page-container::-webkit-scrollbar {
    width: 0.25em;
}
   
.page-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
}
   
.page-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: blue;
    box-shadow: -7px 0 9px -5px $orange-light;
}