$pink-1: #F72585;
$pink-2: #B5179E;
$purple-1: #560BAD;
$purple-2: #3A0CA3;

$blue-darkest: #0E1525;
$blue-dark: #0B0055;
$blue-medium: #00017A;
$blue-light: #0053A6;
$blue-lightest: #0079F2;
$orange-dark: #F95D1D;
$orange-medium: #FC6D1C;
$orange-light: #FE780E;