.problem-index {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.problem-index-header{
    background-image: linear-gradient(to bottom, transparent, $blue-darkest),url("../../../assets/images/2nd_main3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 83%;
    // background-size: 100% 120%;
    width: 100%;
    background-color: $blue-darkest;
    padding-top: 50px;


    .problem-index-header-div{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px auto;

        .problem-intro{
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: 500;
            text-transform: uppercase;
            text-shadow: 0 0 20px white;
        }

        .problem-index-instructions{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .problem-summary-item{
                width: 20%;
                margin: 20px 15px;

                .problem-summary-item-header{
                    font-size: 22px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    text-shadow: 0 0 50px white;
                }

                .problem-summary-item-subtitle{
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
}

.problem-index-problems-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;

    .problem-index-problems-header-div{        

        h1{
            margin: 20px auto;
            padding: 30px;
            font-size: 25px;          
        }
        
    }
   

    .problem-index-problems-list-div{
        width:80%;
        max-width: 1020px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 70px;

        .problem-index-problems-div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .problem-index-problems-list{
                flex-wrap: wrap;
                display: flex;
                // flex-direction: row;
                justify-content: center;
        
        
                .problem-card {
                    flex: 1 0 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 150px;
                    min-height: 150px;
                    width: 100%;
                    max-width: 310px;
                    padding: 27px;
                    margin: 15px;
                    border: 1px solid $orange-light;
                    background-color: $blue-darkest;
                    border-radius: 4px;
                    // box-shadow: 0 0px 0px $orange-light;
                    transition: all 0.2s ease-in;

                    .problem-name{
                        font-size: 19px;
                        text-shadow: 0 0 5px $blue-lightest;    
                    }

                    .problem-body{
                        width: 230px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        height: 40px;
                        padding: 10px 0;                        
                    }
                    
                    .problem-link-div{
                        display:flex;
                        flex-direction: row;
                        justify-content: flex-start;

                        .problem-link{
                            font-size: 14px;
                            border: 1px solid $orange-light;
                            padding: 3px 5px;
                            border-radius: 3px;  
                            transition: all 0.2s ease-in;  
                        }

                        .problem-link:hover{
                            color: $orange-light;
                        }
                    }                   
                }
            }
        }
    }    
}
    


  .problem-card:hover { 
      transform: translate(4px, -4px);
      box-shadow: -4px 4px 5px $orange-light;
      cursor: pointer;  
  }

